
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Display Users</title>
</head>

<body>

	<h3>Display Users</h3>
	<hr>
	
	<table border="1">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Birth Date</th>
				<th>Home Adress</th>
				<th>Work Adress</th>
				<th>Gender</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempUser : ${users}">
				<td th:text="${tempUser.firstName}" />	
				<td th:text="${tempUser.lastName}" />	
				<td th:text="${tempUser.date}" />	
				<td th:text="${tempUser.homeAdress}" />	
				<td th:text="${tempUser.workAdress}" />	
				<td th:text="${tempUser.gender}" />
				
				<!-- Add update button/link -->
				<td>
					<form th:action="@{/users/showFormForUpdate(userId=${tempUser.id})}">
						  <input type="hidden" name="userId" th:value="${tempUser.id}" /> 						
						<button type="submit" >Update</button>
					</form>
				</td>
				
				<td>
					<!-- Delete button/link -->
					<form th:action="@{/users/delete(userId=${tempUser.id})}">
						<input type="hidden" name="userId" th:value="${tempUser.id}" />						
						<button type="submit">Delete</button>
					</form>
				</td>
			</tr>
		</tbody>		
	</table>
	
	
</body>
</html>



